*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f0f4f8;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    padding: 10px 20px;
    width: 100%;
    background-color: #1a3c5e;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #e8621a ;
}
.logo{
    font-size: 25px;
    font-weight: bolder;
    display: flex;
}
.firstword{
    color: white;
}
.secondword{
    color: #e8621a;
}
.title{
    font-size: 30px;
    color: white;
    width: 30%;
}
.items{
    color: lightslategrey;
    font-size: 15px;
    font-weight: 600;
}
.items:hover{
    color: white;
}
.badge{
    background-color:#e8621a;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding:5px 14px;
}
.click{
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: none;
}
.tag{
    width: 100%;
    background-color: #e8621a;
    bottom: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 1px;
}
button{
    border-radius: 10px;
    background-color: #e8621a;
    width: 100%;
    max-width: 300px;
    border: none;
    margin: 20px ;
    display: block;
}
button a{
    color: white;
    font-size: 23px;
    text-decoration: none;
}
button:hover{
    background-color: #c9541a;}
.main{
    padding: 80px 20px 40px;
    background-color: #1a3c5e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#12283f,#1e466d,#27598c,#1e466d);
}
.first{
    color: white;
}.second{
    color: #e8621a;
}
.third{
    color: gold;
}
.herosection{
    width: 100%;
    max-width:800px;
    text-align: center;
}
.first, .second , .third{
    height: 50px;
}
.tagline{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    height: 200px;
    display: block;
    margin-bottom: none;
}
.content{
    color: lightslategray;
    text-transform: uppercase;
    line-height: 1.5;
    white-space: wrap;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

.working{
    background-color: #1e466d;
    height: auto;
    width: 100%;
}
.workheading{
    border: 2px solid #c9541a;
    border-radius: 10px;
    color: #c9541a;
    text-transform: uppercase;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.stepheading{
    font-size: 50px;
    color: white;
    margin-left: 40px;
    text-transform: uppercase;
    margin-top: 20px;
}
.subheading{
    font-size: 20px;
    color: lightslategray;
    margin-top: 15px;
    margin-left: 40px;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: #c9541a;
    color: white;
    font-size: 45px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin:20px 0;
}
.subline{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}
.line{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: lightslategrey;
    word-spacing: 3px;
    letter-spacing: 2px;
}
.processbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
@media(max-width:768px){
    .stepheading{
        font-size: 20px;
    }
    .processbox{
        max-height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .process{
        max-height: fit-content;
    }
    .circle{
        max-height: max-content;
        max-width: max-content;
    }
    .subline{
        font-size: 28px;
    }
    .line{
        font-size: 14px;
    }
    .working{
        height: fit-content;
    }
    .thirdbox{
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .thirdelement{
        max-height: fit-content;
    }
    .thirdmaincontent{
        max-height: fit-content;
    }
    .thirdheading{
        font-size: 24px;
    }
    .thirdsubheading{
        font-size: 14px;
    }
    .footmain{
        flex-direction: column;
        align-items: center;
    }
    .navbar{
        flex-direction: row;
        align-items: center;
    }
    .items{
        display: block;
    }
    .tagline{
        font-size: 28px;
    }
    .content{
        font-size: 14px;
        padding: 10px;
    }
    .subheading{
        font-size: 14px;
    }
    .main{
        height: fit-content;
        flex-direction: column;
        text-align: center;
    }
    .tag{
        margin-bottom: 40px;
    }
    .imagebox{
        width: 100%;
        max-width: 350px;
    }
    .imagebox img{
        width: 100%;
        height: auto;
        display: block;
    }
}
.process{
    width: 100%;
    display: flex;
    flex: 1 1 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin-top: 0;
}
.thirdelement{
    height: fit-content;
    width: 100%;
    background-color: #f0f4f8;
}
.thirdlogo{
    margin-top: 50px;
    color: #e8621a;
    border-radius: 10px;
    border:2px solid #e8621a;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 20px;
    background-color: rgb(241, 215, 168);
}
.thirdheading{
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 10px;
}
.thirdsubheading{
    color: lightslategrey;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 10px;
    word-spacing: 3px;
}
.thirdbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.thirdmaincontent{
    max-width: 320px;
    flex: 1 1 250px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thirdline{
    font-size: 15px;
    color: lightslategrey;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.imagebox{
    width: 100%;
    max-width: 350px;
    height: 200px;
    overflow: hidden;
}
.imagebox img{
    height: 100%;
    width: 100%;
    /* display: block; */
    background-size:cover;
}
footer{
    width:100%;
    background-color: #1a3c5e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
}
.footmain{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-self: center;
    justify-content: space-evenly;
    border-bottom: 1px solid lightslategrey;
}
.endline{
    letter-spacing: 1px;
}
.lastline{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

